section{
    border: 1px solid black;
    max-width: 400px;
    min-height: 500px;
    margin: 80px auto;
    padding: 10px;
}
#insert div .box{
    vertical-align: middle;
}
#insert p{
    vertical-align: middle;
}
#newDate{
    min-width: 125px;
    height: 15px;
}
section div p{
    margin: 0;
    margin-left: 45px;
}
#newText{
    display: grid;
    grid-template-columns: 350px 50px;
}
.completed {
    text-decoration: line-through;
}
