#month{
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    text-align: right;
    width: fit-content;
    width: -moz-fit-content;
}
#month h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
#monthView{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}
#head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.days{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    padding: 5px;
    overflow: scroll;
}
#month .input{
    display: grid;
    position: absolute;
    top: 180px;
    right: 80px;
}
#info{
    display: none;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    color: white;
}
label{
    padding-bottom: 5px;
    padding-top: 5px;
}
#submit{
    margin-top: 20px;
    width: 100px;
    justify-self: center;
}
body{
    background-color: slategray;
}
#add{
    font-size: 40px;
    background-color: white;
    position: relative;
    border: none;
    color: tomato;
}
h1 i{
    font-size: 25px;
}
#add:hover{
    cursor: pointer;
}
header{
    grid-column: 1/-1;
    grid-row: 1;
}
.eventBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden;
}
.eventBox p{
    margin: 0;
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    justify-self: right;
}
.eventBox .event{
    text-align: left;
    justify-self: left;
    width: unset;
}
.delete:hover{
    color: red;
    cursor: pointer;
}
.delete{
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    background-color: white;
    border-radius: 5px;
}
.number{
    margin: 0;
    padding-bottom: 8px;
}