body{
    background-color: yellow;
}
.about{
    background-color: red;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 35px;
}
.about h2{
    background-color: white;
    margin: 0;
    padding-left: 20px;
}
.about p{
    padding-left: 20px;
}
.mid{
    border: solid 1px black;
    margin-top: 10px;
}
.mid h2{
    background-color: purple;
    margin-top: 0;
    padding-top: 0;
}
#content{
    max-width: 80%;
    margin: 0 auto;
    box-sizing: border-box; /*very useful to fix extending*/
}
nav ul{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav ul li:hover{
    background-color: red;
}
nav ul li{
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
    border-radius: ;
}
