body{
    background-color: black;
}
section{
    width: 314px;
    text-align: center;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
}
img{
    border-radius: 10px 10px 0px 0px;
}
p{
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
    font-size: 18px;
}
em{
    color: lightgreen;
}
b{
    font-size: 30px;
    line-height: 30px;
    color: black;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: green;
    border-radius: 0px 0px 10px 10px;
}
div p{
    color: white;
    font-size: 12px;
}
div b{
    color: white;
    font-weight: 100;
    font-size: 23px;
    line-height: 15px;
}