body{
    margin-top: 0;
}
nav{
    margin: 0 auto;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 0;
}
nav ul li{
    background-color: lightblue;
    padding: 0px;
    list-style: none;
    width: 100%;
    
}
nav ul li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 20px 12px;
    margin: 0px;
    text-align: center;
}
nav ul li a:hover{
    color: red;
    background-color: black;
}
#drop{
    position: relative;
    display: inline-block;
}
#drop ul{
    display: none;
    position: absolute;
    padding: 0;
}
#drop ul li{
    min-width: 304px;
    margin: 0;
}
#drop:hover #dropdown{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}